form{
    text-align: center;
    padding: 20px 10px;
    border: 1px solid black;
    width: 80%;
    background: white;
    border-radius: 20px;
}
.form{
    justify-content: center;
    display: flex;
    padding: 20px 0;
}
input[type=text],input[type=file],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.font-normal{
    text-align: center;
}
label{
    justify-content: left;
    display: flex;
}
.submit-btn{
    width: 190px;
    height: 50px;
    margin: auto;
    border-radius: 4px;
    border: 1px;
    background: bisque;
}
.submit-btn:hover{
    background-color: lightgreen;
}

.search label ion-icon {
    position: absolute;
    top: 17px;
    left: 10px;
    font-size: 1.2rem;
}