.container{
    margin-top: 20px;
}
.comment{
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.comment textarea{
    padding:10px;
    height: 100px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}
.row{
    margin:10px;
}
.order-container h3{
    height:108px;
}
.image-container{
    text-align: center;
}
/*img{
    height: 300px;
    width: 200px;
}*/
.card-body button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin: 10px 0;
}

.card-body button:hover {
    opacity: 0.7;
}
button a{
    text-decoration:none;
    color:white;
}
button a:visited{
    text-decoration:none;
    color: white;
}
.star-rating {
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .comment .star-rating label {
    display: inline-block;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
  }
  .comment .star-rating label:hover,
  .comment .star-rating label:hover ~ label,
  .comment .star-rating input[type="radio"]:checked ~ label {
  color: #FFD700; /* color of the star when selected */
}
.comment label{
    color: #FFD700; /*color of star in comment section */
}

.card-body img{
    height: 300px;
    width: 200px;
}
 